<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Add a new application to Firstpass.">
    <title>FirstPass - Add application</title>
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body id="body" class="background1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">FirstPass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
            </div>
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-4">Add application</h1>
    <form th:action="@{/add-application}" method="POST" th:object="${app}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <input type="text" class="form-control col-sm-10" th:field="*{name}" required>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username</label>
            <input type="text" class="form-control col-sm-10" th:field="*{username}">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <input type="password" class="form-control col-sm-10" th:field="*{password}">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <input type="text" class="form-control col-sm-10" th:field="*{description}">
        </div>
        <div class="my-5">
            <button class="btn btn-primary" type="submit" name="Submit">Confirm</button>
        </div>
    </form>
</div>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    function generatePassword() {
        var length = 20,
            charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_-.:,;=+\"%&/(){}",
            retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        return retVal;
    }
</script>
</body>
</html>