<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard page of FirstPass.">
    <title>Firstpass - Dashboard</title>
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body id="body" class="background1">
<div class="container">
    <h1 class="my-4">Dashboard</h1>
    <form th:action="@{/login}" method="GET">
        <div class="col text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${applications.empty}">
                    <td colspan="5">No Applications Available</td>
                </tr>
                <tr th:each="app : ${applications}">
                    <td th:text="${app.name}"></td>
                    <td th:text="${app.username}"></td>
                    <td th:text="${app.password}"></td>
                    <td th:text="${app.description}"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" value="Login" name="Submit" class="btn">Log out</button>
        </div>
    </form>
</div>
</body>
</html>