<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page of FirstPass.">
    <title>FirstPass - Login</title>
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body id="body" class="background1">
<div class="container">
    <h1 class="my-4">Log in</h1>
    <form th:action="@{/login}" method="POST" th:object="${user}">
        <div class="form-group">
            <small for="username">Username</small>
            <input id="username" type="text" name="username" class="form-control" th:field="*{username}"/>
        </div>
        <div class="form-group">
            <small for="password">Password</small>
            <input id="password" type="password" name="password" class="form-control" th:field="*{password}"/>
        </div>
        <div class="form-group error-response">
            <p th:text="${error}"></p>
        </div>
        <div class="col text-center">
            <button type="submit" value="Login" name="Submit" class="btn">Log in</button>
        </div>
    </form>
</div>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>